<!doctype html>
<html lang="en" data-framework="relay">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brandfolder</title>
    <link rel="stylesheet" href="./dist/stylesheets/main.css">
</head>
<body>

<div id="root"></div>
    <script type="text/javascript">
        // Force `fetch` polyfill to workaround Chrome not displaying request body
        // in developer tools for the native `fetch`.
        self.fetch = null;
    </script>
    <script id="preloadedData" type="application/json"></script>
    <script src="/app.js"></script>
</body>
</html>