@font-face {
    font-family: 'Avenir';
    src: url("//fonts.brandfolder.com/avenir/brandfolder-normal.eot");
    src: url("//fonts.brandfolder.com/avenir/brandfolder-normal.eot#iefix&v=3.2.1") format('embedded-opentype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-normal.woff") format('woff'),
    url("//fonts.brandfolder.com/avenir/brandfolder-normal.ttf") format('truetype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-normal.svg#brandfolder-normal?v=3.2.1") format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir';
    src: url("//fonts.brandfolder.com/avenir/brandfolder-bold.eot");
    src: url("//fonts.brandfolder.com/avenir/brandfolder-bold.eot#iefix&v=3.2.1") format('embedded-opentype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-bold.woff") format('woff'),
    url("//fonts.brandfolder.com/avenir/brandfolder-bold.ttf") format('truetype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-bold.svg#brandfolder-bold?v=3.2.1") format('svg');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Avenir';
    src: url("//fonts.brandfolder.com/avenir/brandfolder-light.eot");
    src: url("//fonts.brandfolder.com/avenir/brandfolder-light.eot#iefix&v=3.2.1") format('embedded-opentype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-light.woff") format('woff'),
    url("//fonts.brandfolder.com/avenir/brandfolder-light.ttf") format('truetype'),
    url("//fonts.brandfolder.com/avenir/brandfolder-light.svg#brandfolder-light?v=3.2.1") format('svg');
    font-weight: lighter;
    font-style: normal
}
